.arrows{
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  position: absolute;
  top: 30%;
  width: 100%;
  z-index: 1;

  & .arrow {
    height: 30px;
    width: 30px;
    &:hover {
      cursor: pointer;
  }
    &.left {
      background-repeat: no-repeat;
      background-size: contain;
      margin-left: 5px;
      transform: rotate(270deg);
    }
    &.right {
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 5px;
      transform: rotate(90deg);
    }
  }
}
